<div class="max-w-content mx-auto px-[24px] space-y-[50px]">
  <h2 class="text-gray-dark text-center text-[80px] font-serif">{{ section.settings.title | escape }}</h2>
  <div class="grid grid-cols-4 gap-[1px]">

    {%- for product in section.settings.collection.products limit: section.settings.productLength -%}
    <a href="{{ product.url }}" class="block bg-green-light/20 shadow-grid">
      <article class="py-[24px] space-y-[24px]">
        <img
          src="{{ product.featured_media | image_url: width: 512 }}"
          alt="Nom du produit"
          class="mx-auto"
        />
        <div class="space-y-[8px] text-center font-medium">
          <h3 class="text-gray-dark">{{ product.title | escape }}</h3>
          <h4 class="text-gray-medium">{{ product.price | money }}</h4>
        </div>
      </article>
    </a>
    {%- endfor -%}

  </div>
  <div class="flex">
    <a href="#" class="m-auto px-[26px] py-[10px] bg-red rounded-full text-white">Découvrir notre cave exclusive</a>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "py-14",
  "limit": 1,
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "productLength",
      "min": 4,
      "max": 16,
      "step": 4,
      "default": 4,
      "label": "Nombre de produit"
    }
  ]
}
{% endschema %}