{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}

<footer class=" ">
  <div class="flex justify-center ">
    {%- if section.settings.newsletter_enable -%}
      <div class="flex flex-col py-20 justify-center">
        {%- if section.settings.newsletter_heading != blank -%}
          <h2 class="footer-block__heading">{{ section.settings.newsletter_heading | escape }}</h2>
        {%- endif -%}
        {%- form 'customer', id: 'ContactFooter', class: 'border-b-2 border-black w-96' -%}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="w-96">
            <div class="">
              <input
                id="NewsletterForm--{{ section.id }}"
                type="email"
                name="contact[email]"
                class="border-0 focus:outline-0 focus:shadow-none focus:outline-offset-0"
                value="{{ form .email }}"
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %}
                  autofocus
                  aria-invalid="true"
                  aria-describedby="ContactFooter-error"
                {% elsif form.posted_successfully? %}
                  aria-describedby="ContactFooter-success"
                {% endif %}
                placeholder="{{ 'newsletter.label' | t }}"
                required
              >
              <button type="submit" class="" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                OK
              </button>
            </div>
            {%- if form.errors -%}
              <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
            {%- endif -%}
          </div>
          {%- if form.posted_successfully? -%}
            <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
          {%- endif -%}
        {%- endform -%}
      </div>
    {%- endif -%}
  </div>  
  {%- if section.blocks.size > 0 -%}
    <div class="">
        <div class="flex justify-between">
          <div>
            Moonwine
          </div>
          <div class="flex" >
          {%- for block in section.blocks -%}
            <div class="px-10">
              {%- if block.settings.heading != blank -%}
                <h2 class="footer-block__heading">{{- block.settings.heading | escape -}}</h2>
              {%- endif -%}

              {%- case block.type -%}
               
                {%- when 'link_list' -%}
                  {%- if block.settings.menu != blank -%}
                    <ul class="flex flex-col">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a href="{{ link.url }}" class="">
                            {{ link.title }}
                          </a>
                        </li>
                        <li>
                          <a href="{{ link.url }}" class="">
                            {{ link.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                {%- endcase -%}
            </div>
          {%- endfor -%}
        </div>
        </div>
    </div>
  {%- endif -%}



  {%- if section.settings.show_social -%}
    <ul class="footer__list-social list-unstyled list-social" role="list">
      {%- if settings.social_twitter_link != blank -%}
        <li class="list-social__item">
          <a href="{{ settings.social_twitter_link }}" class="link list-social__link" >
            {%- render 'icon-twitter' -%}
            <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_facebook_link != blank -%}
        <li class="list-social__item">
          <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
            {%- render 'icon-facebook' -%}
            <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_pinterest_link != blank -%}
        <li class="list-social__item">
          <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" >
            {%- render 'icon-pinterest' -%}
            <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_instagram_link != blank -%}
        <li class="list-social__item">
          <a href="{{ settings.social_instagram_link }}" class="link list-social__link" >
            {%- render 'icon-instagram' -%}
            <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_tiktok_link != blank -%}
        <li class="list-social__item">
          <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" >
            {%- render 'icon-tiktok' -%}
            <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
          </a>
        </li>
      {%- endif -%}
      {%- if settings.social_youtube_link != blank -%}
        <li class="list-social__item">
          <a href="{{ settings.social_youtube_link }}" class="link list-social__link" >
            {%- render 'icon-youtube' -%}
            <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
          </a>
        </li>
      {%- endif -%}
    </ul>
  {%- endif -%}

  <div class="max-w-content">
    <div class="bg-red-200 mx-auto ">
      <p>firjoifejfreo</p>
    </div>
    <div>
      <p>reojijef</p>
    </div>
  </div>
</footer>


{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "header",
      "content": "Liens"
    },
    {
      "type": "text",
      "id": "link_cgv",
      "label": "Mentions légales et CGV"
    },
    {
      "type": "text",
      "id": "link_confidentialite",
      "label": "Politique de confidentialité"
    },
    {
      "type": "text",
      "id": "link_cookies",
      "label": "Préférences cookies"
    },
    {
      "type": "header",
      "content": "Interdiction Vente Alcool"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.footer.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_alcool_warning",
      "label": "Image interdiction vente aux mineurs"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
